.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: #D9D9D9;
    /* border: 1px dotted darkmagenta; */
    padding: 0.7rem;
    margin: 0.5rem 0;
    color: black;
}

.ticket__delete {
    margin-left: auto;
    background-color: lightcoral;
}

.ticket__finish {
    margin-left: auto;
}

.ticket__footer {
    display: flex;
    padding: 1rem 0 0 0;
    border-top: 1px dashed darkmagenta;
    margin: 1rem 0 0 0;
}

.ticket__header {
    font-size: large;
    padding: 0 01rem 0;
}

/* Ticket List */
.ticketListContainer {
    margin: 16px 10%;
}

.ticketListHeading {
    font-weight: 300;
    font-size: 66px;
    margin: 3rem 0;
}

.tabContainer {
    display: flex;
}

.tabContainer>button {
    border: 1px solid black;
    background: #D9D9D9;
    font-size: 18px;
    border-radius: 10px 10px 0 0;
    padding: 12px 54px;
}

.activeTab {
    background: white !important;
    color: black;
    font-weight: bold;
}

.inactiveTab {
    background: #D9D9D9;
}

.activeTab:hover,
.inactiveTab:hover {
    /* background: white; */
    cursor: pointer;
    text-decoration: underline;
}

.addTicketBtn {
    background: #000 !important;
    color: white;
    font-size: 32px !important;
    padding: 8px 32px !important;
}

.addTicketBtn:hover {
    background: #333 !important;
    cursor: pointer;
}

/* Ticket Card */
.ticketCardContainer {
    height: 120px;
    background: #D9D9D9;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-left: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ticketCardContainer:last-of-type {
    border-bottom: 2px solid black;
}

.ticketCardContainer:hover {
    background: white;
    /* cursor: pointer; */
}

.ticketDetailContainer {
    display: flex;
    /* justify-content: space-between; */
    /* flex-direction: column; */
    /* justify-content: center; */
}

.ticketNumber {
    font-size: 14px;
    color: black;
    margin-right: 72px;
}

.ticketDate {
    color: black;
}

.ticketDescription {
    font-size: 26px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.ticketDescription:hover {
    text-decoration: underline;
}

.left {
    width: 100%;
}

.right {
    color: black;
    display: flex;
    padding-right: 36px;
}

.iconBtn {
    display: flex;
    align-items: center;
}

.iconBtn>p {
    margin-left: 24px;
}

.iconBtn>svg {
    font-size: 32px;
}

.iconBtn:last-child {
    margin-left: 36px;
}

.iconBtn>select {
    padding: 6px;
    border-radius: 8px;
    border: 1px solid black;
    font-size: 14px;
}

.reportedByContainer {
    /* display: flex; */
    /* align-items: center; */
    /* margin-top: 8px; */
    width: 280px;
}

.reportedByText {
    font-size: 14px;
    color: black;
    margin-top: 8px;
}

.deleteTicketBtn {
    padding: 0.25em;
    background-color: lightcoral;
    border: none;
    font-size: large;
    border-radius: 5px;
}

.markCompleted {
    padding: 0.25em;
    background-color: lightgreen;
    border: none;
    font-size: large;
    border-radius: 5px;
    margin-right: 1em;;
}

.assignedTo {
    padding: 0.25em;
    border: none;
    font-size: large;
    border-radius: 5px;
}

.progressSelect {
    padding: 0.25em;
    border: none;
    font-size: large;
    border-radius: 5px;
}

.ticketForm {
    border: none;
}

fieldset, .form-group, .form-control {
    border: none;
    padding: 0;
    margin: 0;
    padding: 0.5em 0;
    margin: 0.5em 0;
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0.75em;
}